@media screen and (max-width: 1200px) {
    html, body {
        --padding-common: 4vh 5vw
    }

    #headerContainer {
        height: 8vh;
    }
    #headerFlex a{
        font-size: 1.8rem;
        padding-right: 1.25rem;
    }

    #namePlate {
        padding-top: 5vh;
        padding-bottom: 5vh;
        width: 100%;
        margin-right: 0;
    }

    #emailMe {
        font-size: 2rem;
        width: 20vw;
        height: 5vh;
    }

    #uditaPic {
        width: 80vw;
    }

    .resumeSection {
        display: flex;
        flex-wrap: wrap;
    }
    .resumeSectionHeader {
        font-size: 2rem;
        width: 100%;
        padding-left: 0;
    }

    .resumeEntry h3, .resumeEntry div {
        font-size: 1.75rem;
    }

    .resumeEntry ul li {
        font-size: 1.75rem;
        padding-top: 2vh;
    }

    .resumeDates {
        float: none;
    }

    #projects h1 {
        font-size: 7rem;
    }

    .col {
        max-width: 100%;
    }

    #aboutRed {
        height: 8vh;
    }
    #aboutFlex h1 {
        font-size: 1.75rem;
    }
    #aboutFlex a {
        font-size: 1.75rem;
    }
}